In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
df = pd.read_csv('master_merged.csv')
df

,suicides_per_100k,country,sex,age,population,continent,GDP,Family,Health,Freedom,Trust,year,female,male
0,34.38,Argentina,male,6,712691,South America,1.053510,1.248230,0.787230,0.449740,0.084840,2015,0,1
1,34.38,Argentina,male,6,712691,South America,1.151370,1.066120,0.697110,0.422840,0.072960,2016,0,1
2,34.38,Argentina,male,6,712691,South America,1.185295,1.440451,0.695137,0.494519,0.059740,2017,0,1
3,34.38,Argentina,male,6,712691,South America,1.073000,1.468000,0.744000,0.570000,0.054000,2018,0,1
4,34.38,Argentina,male,6,712691,South America,1.092000,1.432000,0.881000,0.471000,0.050000,2019,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3403,0.83,Uruguay,female,1,241598,South America,1.061660,1.208900,0.811600,0.603620,0.245580,2015,1,0
3404,0.83,Uruguay,female,1,241598,South America,1.181570,1.031430,0.721830,0.543880,0.213940,2016,1,0
3405,0.83,Uruguay,female,1,241598,South America,1.217560,1.412228,0.719217,0.579392,0.178062,2017,1,0
3406,0.83,Uruguay,female,1,241598,South America,1.093000,1.459000,0.771000,0.625000,0.155000,2018,1,0
3407,0.83,Uruguay,female,1,241598,South America,1.124000,1.465000,0.891000,0.523000,0.150000,2019,1,0

In [3]:
y = df.loc[:, "suicides_per_100k"]

In [4]:
nominal_cols = df.dtypes[df.dtypes == object].reset_index().iloc[:, 0]
X = df.drop(columns = nominal_cols, axis = 1)
X.drop(columns = ["suicides_per_100k"], axis = 1, inplace = True)
X

,age,population,GDP,Family,Health,Freedom,Trust,year,female,male
0,6,712691,1.053510,1.248230,0.787230,0.449740,0.084840,2015,0,1
1,6,712691,1.151370,1.066120,0.697110,0.422840,0.072960,2016,0,1
2,6,712691,1.185295,1.440451,0.695137,0.494519,0.059740,2017,0,1
3,6,712691,1.073000,1.468000,0.744000,0.570000,0.054000,2018,0,1
4,6,712691,1.092000,1.432000,0.881000,0.471000,0.050000,2019,0,1
...,...,...,...,...,...,...,...,...,...,...
3403,1,241598,1.061660,1.208900,0.811600,0.603620,0.245580,2015,1,0
3404,1,241598,1.181570,1.031430,0.721830,0.543880,0.213940,2016,1,0
3405,1,241598,1.217560,1.412228,0.719217,0.579392,0.178062,2017,1,0
3406,1,241598,1.093000,1.459000,0.771000,0.625000,0.155000,2018,1,0
3407,1,241598,1.124000,1.465000,0.891000,0.523000,0.150000,2019,1,0

In [5]:
lm = LinearRegression()
lm.fit(X, y.values)

LinearRegression()

In [6]:
lm.coef_

array([ 3.66569802e+00, -5.17213806e-08,  6.39625809e+00,  7.40363702e+00,
        4.41081341e+00, -1.29358089e+01, -8.78044965e+00, -9.25414492e-01,
       -6.68306079e+00,  6.68306079e+00])

In [7]:
mean_absolute_error(lm.predict(X), y.values)

7.80014891935899

In [8]:
np.median(y.values)

6.54